.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: var(--primary-color);
  }
.brandHeading{
    font-size: 1.5rem;
    font-weight: 1000;
    color: var(--primary-txt-color);
    text-decoration: none;
    margin-left: 2rem;
  }
.userIcon{
    font-size: 1.5rem;
    margin-right: 2rem;
    color: var(--primary-txt-color);
  }