@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
#root{
  --primary-color: #F7F7F7;
  --brand-color: #05a665;
  --secondary-color: #bcbcbf;
  --color-1: #eae3e3;
  --primary-txt-color: #4e4d4d;
  --color-2: #f11578;
  font-family: 'Roboto', sans-serif;
}